.header {
  position: relative;
  margin-top: 100px;
}

.backdrop {
  position: absolute;
  z-index: -1;

  background-image: radial-gradient(
    circle,
    light-dark(rgb(135, 212, 250), rgb(179, 229, 255)),
    rgb(255 255 255 / 0%)
  );
  width: 80%;

  @media (width <= 768px) {
    width: 100%;
  }

  aspect-ratio: 1;
  border-radius: 100%;
  filter: blur(100px);

  animation: neonPulse 6s infinite linear;
}

@keyframes neonPulse {
  0% {
    opacity: 0.8;
    transform: scale(1) rotateZ(0deg);
  }
  25% {
    opacity: 1;
    transform: scale(1.2) rotateZ(90deg);
  }
  50% {
    opacity: 0.8;
    transform: scale(1) rotateZ(180deg);
  }
  75% {
    opacity: 1;
    transform: scale(1.1) rotateZ(270deg);
  }
  100% {
    opacity: 0.8;
    transform: scale(1) rotateZ(360deg);
  }
}
