# Local files
.DS_Store
node_modules
.turbo
*.log
.next
.env
.cache
*.local
vite.config.ts.timestamp.*
vite.config.ts.timestamp*

# Build results
dist
dist-ssr
server/dist
public/dist
storybook-static/