.pbs-backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: transparent;

  z-index: 1;
  /* NOTE: Skip drawing of backface for better performance */
  backface-visibility: "hidden";
}
.pbs-backdrop.hidden {
  visibility: hidden;
}

.pbs-backdrop.open {
  background-color: #454545b3;
}
.pbs-backdrop.transparent {
  background-color: transparent;
}
