.pbs-handle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 25px;
  cursor: pointer;
}
.pbs-handle.hidden {
  display: none;
}

.pbs-button-reset {
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}
button:focus.pbs-button-reset {
  outline: none;
}

.pbs-handle-bar {
  background-color: rgba(168, 168, 168, 1);
  position: relative;
  width: 12%;
  height: 7px;

  border-radius: 12px;
}
.pbs-handle-bar.hidden {
  display: none;
}
