.pbs-root {
  position: fixed;
  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: fit-content;

  z-index: 2;
}

.pbs-dialog-reset {
  background-color: transparent;
  color: inherit;
  border: none;
  outline: none;
  padding: 0px;
  margin: 0px;
}
