.pbs-container {
  --pbs-container-background-color: rgb(240, 240, 240);

  background-color: var(--pbs-container-background-color);

  position: relative;

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 92%;
  height: fit-content;
  max-height: 100vh;

  border-radius: 10px 10px 0px 0px;
}
.pbs-container.open {
  display: flex;
}

.pbs-container .pbs-gap-filler {
  position: absolute;
  bottom: calc(-100vh + 0.5px);
  left: 0;

  background-color: var(--pbs-container-background-color);
  content: "";

  width: 100%;
  height: 100vh;
}
