:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(0 0% 14% / 1);

  transition: background-color 0.1s ease-out;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  color: #888;
}

input {
  font-size: 16px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.card {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 15px 20px;
  font-size: 15px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.pbs-root {
  .pbs-container {
    padding: 0px 16px 16px 16px;
  }

  h1,
  h2,
  h3,
  p,
  label {
    color: #213547;
  }
}

.blocking-bottom-sheet {
  button {
    width: 100%;
  }
}

.dragging-detection {
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.snap-points {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 27%;

  .input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
  }
  .input-wrapper:not(:last-of-type) {
    margin-bottom: 10px;
  }

  label {
    display: block;
    width: 100%;
  }
}
